a {
    &, &:visited {
        color: $links-color;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
    letter-spacing: $headings-letter-spacing;
    margin-bottom: $headings-margin;

    small,
    .small {
        font-weight: normal;
        line-height: 1;
        color: $headings-small-color;
        font-size: 65%;
    }

    a {
        color: $headings-color;
    }
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

p {
    margin: 0 0 1em 0;
}
